<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.cars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cars">
        <activity android:name=".AdvancedLevel2"></activity>
        <activity android:name=".CarHint2" />
        <activity android:name=".IdentifyCarImage2" />
        <activity android:name=".AdvancedLevel" />
        <activity android:name=".IdentifyCarsAnswer" />
        <activity android:name=".IdentifyCarImage" />
        <activity android:name=".Hints" />
        <activity android:name=".IdentifyCarMake" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>